/* .background {
    background-color: black;
    border-radius: 20px;
    width: 100%;

} */

.font-page {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    border-radius: 20px;


}

.head-text {
    color: white;
    width: 60%;
    border: 20px;
    border-left: 30px;
}

.head-text h1 {
    font-size: 50px;
}

.watch-now {
    background-color: rgb(232, 19, 97);
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-decoration: dotted;

}

.font-pic {
    width: 40%;
}

.font-pic img {
    justify-content: center;
}

.box-margin {
    width: 30%;
    margin-left: 105px;
}

.mini-background {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: #161616;
}

.match-button {
    display: grid;
    justify-content: center;
}

.match-button a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    margin-top: 35px;
    padding: 20px;
    border-radius: 10px;
}

#click {
    color: white;
    background-color: #DD0000;
}