/*--------
 body 
 ----------*/
.font-page {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;


}

.head-text {
    color: white;
    width: 60%;
    border: 20px;
    border-left: 30px;
}

.head-text h1 {
    font-size: 50px;
}

.watch-now {
    background-color: rgb(232, 19, 97);
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-decoration: dotted;

}

.font-pic {
    width: 40%;
}

.font-pic img {
    justify-content: center;
}


/*--------------
Match Button 
----------------*/
.box-margin {
    width: 30%;
    margin-left: 105px;
}

.mini-background {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: #161616;
}

.match-button {
    display: grid;
    justify-content: center;
}

.match-button a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    margin-top: 35px;
    padding: 20px;
    border-radius: 10px;
}

#click {
    color: white;
    background-color: #DD0000;
}


/*-----------
 main theme 
 ------------*/
article {
    display: flex;
    margin-top: 100px;

}

.themes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-top: 5px;
    margin-left: 20px;

}

.theme {
    width: 260px;
    height: 280px;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;

}

.theme img {
    width: 100%;
}

.theme button {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.theme h4 {
    margin-top: 10px;
    margin-left: 10px;
}

.icons {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

/*-----------
 responsive 
 ------------*/

@media only screen and (max-width: 576px) {
    * {
        margin: 0%;
        padding: 0%;
    }

    .background {
        flex-direction: column;
    }

    .sec-1 {
        width: 450px;
        height: 1086px;
        flex-direction: column;
    }

    .sec-1 h1 {
        text-align: center;
    }

    .sec-1 p {
        margin-top: 30px;
        text-align: center;
    }

    .link-button {
        margin-top: 50px;
        text-align: center;
    }

    .head-img {
        height: 500px;
        margin-top: 20px;
        margin-left: 50px;
    }

    /*-----------
     button part
    -------------*/

    article {
        flex-direction: column;
    }

    .themes {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 80px;
        margin: auto;
    }

    .theme {
        width: 400px;
        height: 350px;
    }
}


/*-----------
 footer 
-------------*/

.log {
    background-color: #161616;
}

.footer-h1 {
    text-align: center;
    padding: 80px 0px 0px 0px;
    color: white;
}

hr {
    border: 1px solid;
    margin: 50px 0px;
}

.last-link {
    text-align: center;
    padding-bottom: 50px;
}

.last-link a {
    margin: 0px 20px;
}

.last-link-1 {
    text-decoration: none;
    color: white;
}

.t-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.t-img p {
    font-size: 20px;
    font-weight: 700;
}

.t-img img {
    width: 50%;
    padding: 10px;
}